.divDetail{
    display: flex;
    box-sizing: border-box;
    width: 50%;
    flex-direction: column;
    text-align: left;
    font-size: 15px;
    overflow: hidden;
    padding: 20px 20px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.imgDetail{
max-height: 500px;
margin-bottom: 20px ;
}
.counter{
    margin: 10px 10px;
}