.link{
    color: black;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
}
nav{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    background-color:lightgrey ;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}